* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #afb7ac;
}

header {
  text-align: center;
}

h1 {
  color: #183746;
  padding: 1rem;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #183746;
}

.details {
  background-color: #ccdbdc;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main {
  padding: 1rem;
}
.content {
  padding: 1rem;
  text-align: center;
}

.content h2 {
  padding: 1rem;
  font-size: 1.5rem;
}

.content p {
  font-size: 1rem;
}

.content-link {
  text-align: center;
  padding: 1rem;
}

.content-link a {
  text-decoration: none;
  color: #0a6825f0;
}

.content-link a:hover {
  text-decoration: underline;
}
